<link rel="stylesheet" href="/stylesheets/estilos.css">
<div class="bg">
    <div id="huno" class="text-left">
        <img src="https://1.bp.blogspot.com/-WruREvOkQeM/XO9B6OppXoI/AAAAAAAAC3o/m_sNUAakIGwVAzXRowIBvcjrKbaG6NS_QCLcBGAs/s320/andres.jpg" alt="..." class="img-rounded">

    </div>
    <div id="huno" class="text-left">
        <ul>
            <li class="text-white"><strong>Nombre:</strong> Andrés Olivier Fuentes del Río</li>
            <li class="text-white"><strong>Numero de cuenta:</strong> 313005141</li>
            <li class="text-white"><strong>Correo eléctronico:</strong> andresolivier@hotmail.com</li>
            <li class="text-white"><strong>Semestre:</strong> octavo semestre</li>
            <li class="text-white"><strong>Hobbie:</strong> Salir por las tardes con amigos, jugar videojuegos, ver series y películas, andar en bicicleta, nadar</li>
            <li class="text-white"><strong>Redes Sociales:</strong></li>
                <ul>
                    <li class="text-white url">Facebook: https://www.facebook.com/andres.fuentesdelrio</li>
                    <li class="text-white url">Twitter: https://twitter.com/andres_olivier</li>
                </ul>
        </ul>
    </div>

</div>