<link rel="stylesheet" href="/stylesheets/style.css">
<div class="bg">
<<<<<<< HEAD
    <div id="huno" class="text-center">
       <a href="/tps" type="button" class="btn btn-dark" role="button">Definición TPS</a>
        <a href="/crm" type="button" class="btn btn-dark" role="button">Definición CRM</a>
        <a href="/mis" type="button" class="btn btn-dark" role="button">Definición MIS</a>
=======
    <div id="huno3" class="text-center">
       <a href="/#" type="button" class="btn btn-dark" role="button">Definición TPS</a>
        <button type="button" class="btn btn-default">Definición CRM</button>
        <button type="button" class="btn btn-default">Definición MIS</button>
>>>>>>> 94fb7c459e8f9302cf308900364810f8dc8a62ba

    </div>
<div  class="text-center">
        <a href="/#" type="button" class="btn btn-dark" role="button">Inicio</a>
    </div>
</div>