<link rel="stylesheet" href="/stylesheets/style.css">
<div class="bg">+
    <div id="lol" class="container  text-white">
        <div class="row">
            <div id="" class="col-sm-2 text-center">
                <a href="/luis" class="ratio img-responsive img-circle"
                    style="background-image: url(https://scontent.fmex10-1.fna.fbcdn.net/v/t1.0-9/44101644_2055932644453616_4057101819485093888_n.jpg?_nc_cat=106&_nc_ht=scontent.fmex10-1.fna&oh=10841537b787566c6dad0dbf714a2479&oe=5D9C20DB);"></a>
            </div>
            <div id="" class="col-sm-2 text-center">
                <h1>Product Owner</h1>
            </div>
            <div id="" class="col-sm-2 text-center">
                <a href="/alan" class="ratio img-responsive img-circle"
                    style="background-image: url(https://scontent.fmex10-1.fna.fbcdn.net/v/t1.0-9/56866374_2388735691171868_2396813444494917632_n.jpg?_nc_cat=102&_nc_ht=scontent.fmex10-1.fna&oh=e770a038796f08dc1e6e092d7867bcd9&oe=5D5482F7);"></a>
            </div>
            <div id="" class="col-sm-2 text-center">
                <h1>Scrum Master</h1>
            </div>
            <div id="" class="col-sm-2 text-center">
                <a href="/mariana" class="ratio img-responsive img-circle"
                    style="background-image: url(https://scontent.fmex10-1.fna.fbcdn.net/v/t1.0-9/54522576_2553095504762629_2426887784754053120_n.jpg?_nc_cat=103&_nc_ht=scontent.fmex10-1.fna&oh=fe6fd05063aabb8b919a8ef8d13003ee&oe=5D56B1B0);"></a>
            </div>
            <div id="" class="col-sm-2 text-center">
                <h1>Scrum Team</h1>
            </div>
           
            <div id="" class="col-sm-2 text-center">
                
            </div>
            <div id="" class="col-sm-2 text-center">
                <a href="/andres" class="ratio img-responsive img-circle"
                    style="background-image: url(https://scontent.fmex10-1.fna.fbcdn.net/v/t1.0-9/14606262_1324103564268745_8069379797404171430_n.jpg?_nc_cat=105&_nc_ht=scontent.fmex10-1.fna&oh=abee1b4cf2dfbd29739638c78a5a5d40&oe=5D519878);"></a>
            </div>
            <div id="" class="col-sm-2 text-center">
                <h1>Scrum Team</h1>
            </div>
            <div id="" class="col-sm-2 text-center">
                <a href="/smirna" class="ratio img-responsive img-circle"
                    style="background-image: url(https://scontent.fmex10-1.fna.fbcdn.net/v/t1.0-9/52874793_10218454099484374_1975310791494074368_n.jpg?_nc_cat=106&_nc_ht=scontent.fmex10-1.fna&oh=7ec360e032b87d74d726ce373740b383&oe=5D943D37);"></a>
            </div>
            <div id="" class="col-sm-2 text-center">
                <h1>Scrum Team</h1>
            </div>
        </div>
    </div>
</div>