<link rel="stylesheet" href="/stylesheets/style.css">
<div class="bg">
    <div id="huno" class="text-center">
       <a href="/definiciones" type="button" class="btn btn-dark" role="button">Definiciones</a>
        <button type="button" class="btn btn-default">Información Util</button>
        <button type="button" class="btn btn-default">Componentes básicos</button>

    </div>

</div>