<link rel="stylesheet" href="/stylesheets/style.css">
<div class="bg">
    <div id="huno" class="text-center">
        <button type="button" class="btn btn-default">Definiciones</button>
        <button type="button" class="btn btn-default">Información Util</button>
        <button type="button" class="btn btn-default">Componentes básicos</button>

    </div>

</div>