<link rel="stylesheet" href="/stylesheets/style.css">
<div class="bg">
    <div id="huno" class="text-center">
       <a href="/definiciones" type="button" class="btn btn-dark" role="button">Definiciones</a>
       <a href="/infoutil" type="button" class="btn btn-dark" role="button">Información Útil</a>
        <a href="/componentes" type="button" class="btn btn-dark" role="button">Componentes básicos</a>

    </div>

</div>