<link rel="stylesheet" href="/stylesheets/style.css">
<div class="bg">
    <div id="huno" class="text-center">
       <a href="/metoagil" type="button" class="btn btn-dark" role="button">Metodología ágil</a>
        <a href="/queesscrum" type="button" class="btn btn-default" role="button">¿Qué es Scrum?</a>
        <a href="/roles" type="button" class="btn btn-default" role="button">Roles que existen dentro de Scrum</a>
        <a href="/herramientas" type="button" class="btn btn-default" role="button">Herramientas para implementar esta metodología</a>
    </div>

</div>