<link rel="stylesheet" href="/stylesheets/style.css">
<div class="bg">
    <div id="huno" class="text-center">
       <a href="/definiciones" type="button" class="btn btn-dark" role="button">Metodología ágil</a>
        <button type="button" class="btn btn-default">¿Qué es Scrum?</button>
        <button type="button" class="btn btn-default">Roles que existen dentro de Scrum</button>
        <button type="button" class="btn btn-default">Herramientas para implementar esta metodología</button>
    </div>

</div>