<link rel="stylesheet" href="/stylesheets/style.css">
<div class="bg">
    <div id="huno3" class="text-center">
       <a href="/#" type="button" class="btn btn-dark" role="button">Definición TPS</a>
        <button type="button" class="btn btn-default">Definición CRM</button>
        <button type="button" class="btn btn-default">Definición MIS</button>

    </div>
<div  class="text-center">
        <a href="/#" type="button" class="btn btn-dark" role="button">Inicio</a>
    </div>
</div>