<link rel="stylesheet" href="/stylesheets/style.css">
<div class="bg">
    <div id="huno" class="text-center">
       <a href="/andres" type="button" class="btn btn-dark" role="button">Andrés Olivier Fuentes del Río</a>
        <a href="/alan" type="button" class="btn btn-dark" role="button">Alan Rodrigo Cabrera</a>
        <a href="/smirna" type="button" class="btn btn-dark" role="button">Smirna Gallardo Torres</a>
        <a href="/mariana" type="button" class="btn btn-dark" role="button">Mariana Legaria Plata</a>
        <a href="/luis" type="button" class="btn btn-dark" role="button">Luis Manuel Chávez Gutierrez</a>
    </div>

</div>