<link rel="stylesheet" href="/stylesheets/style.css">
<div class="bg container-fluid">
    <div id="div-blanco" class="text-left">
        <h1 class="text-white"><small>Componentes básicos de un Sistema de Información</small></h1>
        <p class="text-white">Los sistemas de información tiene varios componentes, los cuales comparte con cualquier sistema, sin embargo
            en este ámbito, la definición particular de cada componente varia un poco.</p>
        <ul>
            <li class="text-white"><strong>Entrada:</strong> Conformada con la recopilación y captura de datos al sistema</li>
            <li class="text-white"><strong>Procesamiento:</strong> Es realizar operaciones (manuales o automatizadas) sobre los datos de entrada para extraer la mayor cantidad de información útil para la organización</li>
            <li class="text-white"><strong>Salida:</strong> Conformada por toda la información util lograda en el procesamiento</li>
            <li class="text-white"><strong>Retroalimentación:</strong> Son las mejoras que emite el sistema para realizar cambios en la entrada o en la lógica del procesamiento.</li>
        </ul>
    </div>
<div class="text-center">
        <a href="/infoutil" type="button" class="btn btn-dark" role="button">Atras</a>
        <a href="/apartado1" type="button" class="btn btn-dark" role="button">Apartado 1</a>
</div>
<div id="iniciodef" class="text-center" >
        <a href="/#" type="button" class="btn btn-dark" role="button">Inicio</a>
    </div>
</div>