<link rel="stylesheet" href="/stylesheets/style.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<div class="bg container-fluid">
    <div id="div-blanco" class="text-left">
        <h1 class="text-white"><small>CRM (Customer Relationship Management)</small></h1>
        <p class="text-white">Por las siglas en ingles, Sistema de gestión de relaciones con los clientes. Son sistemas orientados a mejorar la relación de los clientes, conseguir y mantenerlos. Desarrollar relacioens mas fuertes.
            Buscan hacer el buen trato a sus clientes el diferenciador con respecto a sus competidores. En un entornobasado en la web, la relación con el cliente requiere que sea mas personal, lo cual se obtiene estudiando: perfiles, hábitos de compra y estrategias de marketing.
            Los clientes fieles son los que generan la mayor cantidad de ingresos en una empresa y clientes satisfechos, generan nuevos clientes por recomendación
        </p>
        <p class="text-white">Los componentes de un CRM son:</p>
        <ul>
            <li class="text-white"><strong>Servicio al cliente:</strong> Call centers, Centros de ayuda, Feedback, etc</li>
            <li class="text-white"><strong>Automatización de ventas y marketing:</strong> Administración de clientes, de campañas, de ventas, etc</li>
            <li class="text-white"><strong>Analítica e inteligencia de negocio:</strong> Es el empleo de herramientas y técnicas para la identificación de oportunidades de negocio en base a los datos de los clientes actuales</li>
            <li class="text-white"><strong>Integración:</strong>Es el conjunto de software que da soporte a un CRM. Conformado por un Front Office y un Back Office</li>
        </ul>
    </div>

</div>