<link rel="stylesheet" href="/stylesheets/style.css">
<div class="bg container-fluid">
    <div id="div-blanco" class="text-left">
        <h1 class="text-white"><small>DATO</small></h1>
        <p class="text-white">Derivado del latin “datum” cuyo significado literal es “hecho”.
        Un dato no dice nada por si solo, aislado en carece de valor o
        relevancia, sin embargo un dato es el insumo para generar información.</p>
        <p class="text-white">Un dato tiene las siguientes caracteristicas:</p>
        <ul>
            <li class="text-white">Es construido o generado</li>
            <li class="text-white">Debe ser almacenado en un medio físico</li>
            <li class="text-white">Debe ser expresado en un lenguaje conocido</li>
        </ul>
        <h1 class="text-white"><small>INFORMACIÓN</small></h1>
        <p class="text-white">Se produce información cuando un conjunto de datos son procesados 
            por un sistema. Para ser útil debe serrelevante, completa, precisa y 
            actual. Además de esto la información debe ser considerablemente "barata de generar" y lo mayor libre de errores posibles</p>
        <p class="text-white">Debe tener las siguientes características:</p>
        <ul>
            <li class="text-white">Relevante</li>
            <li class="text-white">Organizada para un propósito</li>
            <li class="text-white">Tiene un contexto</li>
        </ul>
        <h1 class="text-white"><small>SISTEMA DE INFORMACIÓN</small></h1>
        <p class="text-white">Según Laudon se puede definir como " un conjunto de componentes interrelacionados que recolectan 
            (o recuperan), procesan, almacenan y distribuyen información para 
            apoyar los procesos de toma de decisiones y de control en una organización."
            El objetivo de los sistemas de información es proveer conocimiento de algún aspecto significativo de la empresa para ayudar a la toma de decisiones. Las organizaciones deben tener una mejora continua gracias a esto.</p>
    </div>
    <div class="text-center">
        <a href="/apartado1" type="button" class="btn btn-dark" role="button">Apartado 1</a>
        <a href="/infoutil" type="button" class="btn btn-dark" role="button">Siguiente</a>
    </div>
    <div id="iniciodef" class="text-center" >
        <a href="/#" type="button" class="btn btn-dark" role="button">Inicio</a>
    </div>
</div>