<link rel="stylesheet" href="/stylesheets/style.css">
<div class="bg container-fluid">
    <div id="div-blanco" class="text-center">
        <h1 class="text-white"><small>HERRAMIENTAS PARA IMPLEMENTAR SCRUM</small></h1>
        <h5 class="text-white">Las herramientas para la gestión ágil de proyectos son herramientas
         de administración de proyectos diseñadas para admitir una metodología ágil, 
         ya sea Scrum, Kanban, Scrumban u otros métodos ágiles híbridos.
       
        Las herramientas utilizadas en la metodología ágil se pueden usar de varias maneras, 
            dependiendo de cómo estés llevando a cabo tu enfoque orientado de forma ágil. 
            Tus herramientas pueden incluir:</h5>
            <p></p>
           <div class="text-white">
            
           <h5 class="text-left"><li> Listas de Trabajo Pendiente Priorizadas: prioriza y vuelve a establecer prioridades entre 
            las historias de usuario y los errores al arrastrar y soltar las tarjetas de registro.</li></h5>
            <h5 class="text-left"><li>Tableros Kanban o Scrum: visualiza todas las historias de usuarios con tarjetas que muestran 
            las tareas, las cesiones y los estados en una iteración.</li></h5>
            <h5 class="text-left"><li>Tareas o columnas de natación: separa cesionarios, proyectos (etc.) moviendo las ‘tarjetas de 
            arrastrar y soltar’ a través de los carriles.</li></h5>
            <h5 class="text-left"><li>Flujos de trabajo: crea flujos de trabajo personalizados que actualicen los problemas 
            automáticamente en función de eventos específicos.</li></h5>
            <h5 class="text-left"><li>Iteraciones: use la acumulación para estimar historias, establecer y asignar tareas, y marcar 
            prioridades de iteraciones para las mismas.</li></h5>
            <h5 class="text-left"><li>Gráfico de trabajo pendiente: administra el progreso mediante el seguimiento del trabajo 
            total restante en la iteración.</li></h5> 
            <h5 class="text-left"><li>Gráfico de velocidad: realiza un seguimiento de la velocidad del equipo y pronósticos precisos 
            mediante el seguimiento de la cantidad de trabajo completado en cada iteración.</li></h5>
            <h5 class="text-left"><li>Reuniones diarias: usa el panel de control para obtener una vista profunda del progreso 
            para prepararse para Reuniones Diarias.</li></h5>
            <p></p>
            <h5><p> Aunque hay docenas de excelentes software de Agile project management por ahí, aquí está la lista de herramientas
             de gestión ágil de proyectos que evaluamos en esta reseña:</p></h5>
            
             <h5>1.-trello-<a class="link" href="">https://trello.com/</a></h5>
             <h5>2.-Hansoft-<a class="link" href="">https://trello.com/</a></h5>
             <h5>3.-Easy Redmine-<a class="link" href="">https://trello.com/</a></h5>
            

            </div>

            
    </div>
    </div>