<link rel="stylesheet" href="/stylesheets/style.css">
<div class="bg">
    <div id="divblanco"  class="text-center" >
      <h1>Proyecto Sistemas de Información</h1>
    </div>
    <div id="huno" class="text-center">
        <a href="/Apartado1" type="button" class="btn btn-dark" role="button">Apartado 1</a>
        <a href="/About"type="button" class="btn btn-dark" role="button">Apartado 2</a>
        <a href="/About"type="button" class="btn btn-dark" role="button">Apartado 3</a>
        
    </div>

</div>

