<link rel="stylesheet" href="/stylesheets/style.css">
<div class="bg">
    <div id="huno" class="text-center">
        <button type="button" class="btn btn-success">Apartado 1</button>
        <button type="button" class="btn btn-primary">Apartado 2</button>
        <button type="button" class="btn btn-danger">Apartado 3</button>
    </div>

</div>

