<link rel="stylesheet" href="/stylesheets/style.css">
<div class="bg container-fluid">
    <div id="div-blanco" class="text-left">
        <h1 class="text-white"><small>Información útil</small></h1>
        <p class="text-white">La información útil son aquellos datos reunidos que nos proporcionan insumos para 
            la toma de decisiones, dentro de una organización; esta información tiene distintas características:</p>
        <ul>
            <li class="text-white"><strong>Accesible:</strong>Es decir que la información este al alcance de forma rápida y sencilla, obviamente para aquellos usuarios autorizados</li>
            <li class="text-white"><strong>Exacta:</strong> es decir que debe estar libre de errores</li>
            <li class="text-white"><strong>Completa:</strong> debe contener hechos relevantes</li>
            <li class="text-white"><strong>Económica:</strong>El costo de producción de la información debe ser relativamente barato</li>
            <li class="text-white"><strong>Flexible:</strong>Que pueda usarse en una gran variedad de propósitos</li>
            <li class="text-white"><strong>Relevante:</strong>Cuando es importante para las personas encargadas de la toma de decisiones</li>
            <li class="text-white"><strong>Segura:</strong>Que este protegido el acceso a la misma</li>
            <li class="text-white"><strong>Simple:</strong>Debe establecerse la información en terminos simples y concisos</li>
            <li class="text-white"><strong>Oportuna:</strong>Que este cuando se requiere y tenga valor para el negocio</li>
            <li class="text-white"><strong>Verificable:</strong>Que pueda ser comprobada para verificar que sea información correcta</li>
        </ul>
    </div>
<div class="text-center">
        <a href="/apartado1" type="button" class="btn btn-dark" role="button">Atras</a>
        <a href="/#" type="button" class="btn btn-dark" role="button">Inicio</a>
        <a href="/componentes" type="button" class="btn btn-dark" role="button">Siguiente</a>
    </div>
</div>