<link rel="stylesheet" href="/stylesheets/estilos.css">
<div class="bg">
    <div id="huno" class="text-left">
        <img src="">

    </div>
    <div id="huno" class="text-left">
        <ul>
            <li class="text-white"><strong>Nombre:</strong> </li>
            <li class="text-white"><strong>Numero de cuenta:</strong> </li>
            <li class="text-white"><strong>Correo eléctronico:</strong> </li>
            <li class="text-white"><strong>Semestre:</strong> </li>
            <li class="text-white"><strong>Hobbie:</strong> </li>
            <li class="text-white"><strong>Redes Sociales:</strong></li>
                <ul>
                    <li class="text-white url">Facebook: </li>
                    <li class="text-white url">Twitter: </li>
                </ul>
        </ul>
    </div>

</div>