<link rel="stylesheet" href="/stylesheets/estilos.css">
<div class="bg">
    <div id="huno" class="text-left">
        <img src="images/Luis.jpg" width="200"  class="img-responsive">

    </div>
    <div id="huno" class="text-left">
        <ul>
            <li class="text-white"><strong>Nombre: Luis Manuel Chávez Gutiérrez</strong> </li>
            <li class="text-white"><strong>Numero de cuenta: 313******</strong> </li>
            <li class="text-white"><strong>Correo eléctronico: manuelmyp@hotmail.com</strong> </li>
            <li class="text-white"><strong>Semestre: 8° Semestre</strong> </li>
            <li class="text-white"><strong>Hobbie: Dibujar, Escuchar música, escribir.</strong> </li>
            <li class="text-white"><strong>Redes Sociales: ... </strong></li>
                <ul>
                    <li class="text-white url">Facebook: Luis Gutiérrez </li>
                    <li class="text-white url">Twitter: -</li>
                </ul>
        </ul>
    </div>

</div>