<link rel="stylesheet" href="/stylesheets/estilos.css">
<div class="bg">
    <div id="huno" class="text-center">
        
          <img src="images/marii.JPG"  width="200"  class="img-responsive" />

    </div>
    <div id="huno" class="text-center">
        <ul>
            <li class="text-white"><strong>Nombre: Mariana Legaria Plata</strong> </li>
            <li class="text-white"><strong>Numero de cuenta:416******</strong> </li>
            <li class="text-white"><strong>Correo eléctronico:marianalegariaplata@gmial.com</strong> </li>
            <li class="text-white"><strong>Semestre:8°</strong> </li>
            <li class="text-white"><strong>Hobbie:Me gusta escuchar música, 
                en el deporte me gusta correr, bailar y el futbol. </strong> </li>
            <li class="text-white"><strong>Redes Sociales:... </strong></li>
                <ul>
                    <li class="text-white url">Facebook: Lo di de baja </li>
                    <li class="text-white url">Twitter: No tengo twiter</li>
                </ul>
        </ul>
    </div>

</div>