<link rel="stylesheet" href="/stylesheets/style.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<div class="bg container-fluid">
    <div id="div-blanco" class="text-left">
        <h1 class="text-white"><small>Metodología Agil</small></h1>
        <p class="text-white">La metodología ágil surge como sustituto a los métodos clásicos de gestión. La flexibilidad, la calidad y la necesidad de entregar proyectos y productos en cortos espacios de tiempo son una prioridad. Todo ello ha facilitado el nacimiento de la metodología ágil o agile methodology.
        </p>
        <p class="text-white">Los procesos ágiles son idóneos para aquellas organizaciones que están a la última y reaccionan a las nuevas tendencias. Son muchos los métodos que se utilizan para aplicar las metodologías agile, pero antes de nada hablaremos de los beneficios derivados de la aplicación de agile methodology.
        </p>
        <p class="text-white">Beneficios de la metodología ágil o agile methodology    
        </p>
        <ul>
            <li class="text-white"><strong>¡Aumento de la productividad!</strong></li>
            <li class="text-white"><strong>Mejora la motivación e implicación del equipo:</strong> ¡Sí, sí, del equipo! Con el uso de la metodología ágil se permite a todo el equipo conocer el estado del proyecto en todo momento. Las ideas de todos los miembros se tienen en cuenta. Antes de tomar una decisión definitiva todo se negocia y valora por el equipo. Con esta técnica se fomenta el trabajo en equipo y por tanto aumenta la implicación de los miembros del mismo.</li>
            <li class="text-white"><strong>Mayor velocidad y eficacia:</strong> Estas metodologías permiten hacer entregas parciales del producto, por lo que se puede entregar una versión funcional del producto en breve intervalo de tiempo.</li>
            <li class="text-white"><strong>Mejora la calidad del producto:</strong> Las entregas parciales del producto o proyecto permiten detectar los fallos o errores que tenga, y aplicar soluciones antes de su comercialización definitiva.</li>
        </ul>
        <p class="text-white">Pero no sólo hay beneficios para los empleados y la organización, los clientes también obtendrán ventajas por la aplicación de metodologías ágiles. La satisfacción de los clientes será mayor, pues estarán involucrados en cada etapa del proceso viendo la progresión del mismo y aportando sugerencias y opiniones.   
        </p>
    </div>

</div>