<link rel="stylesheet" href="/stylesheets/style.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<div class="bg container-fluid">
    <div id="div-blanco" class="text-left">
        <h1 class="text-white"><small>MIS (Sistema de información gerencial)</small></h1>
        <p class="text-white">Apoya a la gerencia con las actividades de control, monitoreo y administrativa para la toma de decisiones, esta orientado a la gerencia de nivel medio.
            Sintetizan e informan el comportamiento del nivel operativo, tomando como base datos de un ERP o un TPS, o de otros sistemas de todas las áreas de la organización. Permiten presentar un informe del estado de la organización en un intervalo de tiempo predefinido.
            Los MIS obtienen sus datos de entrada de sistemas TPS o ERP que engloban los sistemas anteriores que se vieron en clase.
        </p>
        <img src="https://1.bp.blogspot.com/-2djDOO_yl08/XO4fdDLLi2I/AAAAAAAAC3c/lB63rZHxPH0x2mfNIsDMe-fa094KMPurgCLcBGAs/s320/mis.jpg" width="450" height="250">
        <p class="text-white">Desde el punto de vista técnico es una base de datos centralizada que almacena toda la información del estado de la compañia para que los adminsitradores generen reportes y tomen decisiones. No almacenan toda la información del negocio, solo un resumen de cada área</p>
    </div>

</div>