<link rel="stylesheet" href="/stylesheets/style.css">
<div class="bg">+
    <div id="lol" class="container  text-white">
        <div class="row">
            <div id="" class="col-sm-2 text-center">
                <a href="/#" class="ratio img-responsive img-circle"
                    style="background-image: url(https://scontent.fmex10-1.fna.fbcdn.net/v/t1.0-9/56866374_2388735691171868_2396813444494917632_n.jpg?_nc_cat=102&_nc_ht=scontent.fmex10-1.fna&oh=e770a038796f08dc1e6e092d7867bcd9&oe=5D5482F7);"></a>
            </div>
            <div id="" class="col-sm-2 text-center">
                <h1>Product Owner</h1>
            </div>
            <div id="" class="col-sm-2 text-center">
                <a href="/#" class="ratio img-responsive img-circle"
                    style="background-image: url(https://scontent.fmex10-1.fna.fbcdn.net/v/t1.0-9/56866374_2388735691171868_2396813444494917632_n.jpg?_nc_cat=102&_nc_ht=scontent.fmex10-1.fna&oh=e770a038796f08dc1e6e092d7867bcd9&oe=5D5482F7);"></a>
            </div>
            <div id="" class="col-sm-2 text-center">
                <h1>Scrum Master</h1>
            </div>
            <div id="" class="col-sm-2 text-center">
                <a href="/#" class="ratio img-responsive img-circle"
                    style="background-image: url(https://scontent.fmex10-1.fna.fbcdn.net/v/t1.0-9/56866374_2388735691171868_2396813444494917632_n.jpg?_nc_cat=102&_nc_ht=scontent.fmex10-1.fna&oh=e770a038796f08dc1e6e092d7867bcd9&oe=5D5482F7);"></a>
            </div>
            <div id="" class="col-sm-2 text-center">
                <h1>Developer</h1>
            </div>
           
            <div id="" class="col-sm-2 text-center">
                
            </div>
            <div id="" class="col-sm-2 text-center">
                <a href="/#" class="ratio img-responsive img-circle"
                    style="background-image: url(https://scontent.fmex10-1.fna.fbcdn.net/v/t1.0-9/56866374_2388735691171868_2396813444494917632_n.jpg?_nc_cat=102&_nc_ht=scontent.fmex10-1.fna&oh=e770a038796f08dc1e6e092d7867bcd9&oe=5D5482F7);"></a>
            </div>
            <div id="" class="col-sm-2 text-center">
                <h1>Developer</h1>
            </div>
            <div id="" class="col-sm-2 text-center">
                <a href="/#" class="ratio img-responsive img-circle"
                    style="background-image: url(https://scontent.fmex10-1.fna.fbcdn.net/v/t1.0-9/56866374_2388735691171868_2396813444494917632_n.jpg?_nc_cat=102&_nc_ht=scontent.fmex10-1.fna&oh=e770a038796f08dc1e6e092d7867bcd9&oe=5D5482F7);"></a>
            </div>
            <div id="" class="col-sm-2 text-center">
                <h1>Developer</h1>
            </div>
        </div>
    </div>
</div>