<link rel="stylesheet" href="/stylesheets/style.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<div class="bg container-fluid">
    <div id="div-blanco" class="text-left">
        <h1 class="text-white"><small>Roles en Scrum</small></h1>
        
        <ul>
            <li class="text-white"><strong>Product Owner: </strong>El Product Owner se asegura de que el equipo Scrum trabaje de forma adecuada desde la perspectiva del negocio. El Product Owner ayuda al usuario a escribir las historias de usuario, las prioriza, y las coloca en el Product Backlog.
            </li>
            <li class="text-white"><strong>ScrumMaster (o Facilitador): </strong>El Scrum es facilitado por un ScrumMaster, cuyo trabajo primario es eliminar los obstáculos que impiden que el equipo alcance el objetivo del sprint. El ScrumMaster no es el líder del equipo (porque ellos se auto-organizan), sino que actúa como una protección entre el equipo y cualquier influencia que le distraiga. El ScrumMaster se asegura de que el proceso Scrum se utiliza como es debido. El ScrumMaster es el que hace que las reglas se cumplan.
            </li>
            <li class="text-white"><strong>Equipo de desarrollo:</strong> El equipo tiene la responsabilidad de entregar el producto. Es recomendable un pequeño equipo de 3 a 9 personas con las habilidades transversales necesarias para realizar el trabajo (análisis, diseño, desarrollo, pruebas, documentación, etc).
            </li>
            <li class="text-white"><strong>Mejora la calidad del producto:</strong> Las entregas parciales del producto o proyecto permiten detectar los fallos o errores que tenga, y aplicar soluciones antes de su comercialización definitiva.
            </li>
        </ul>
    </div>

</div>