<link rel="stylesheet" href="/stylesheets/estilos.css">
<div class="bg">
    <div id="huno" class="text-center">

          <img src="images/smirna.jpg"  width="200"  class="img-responsive" />

    </div>
    <div id="huno" class="text-center">
        <ul>
            <li class="text-white"><strong>Nombre: Smirna Gallardo Torres</strong> </li>
            <li class="text-white"><strong>Numero de cuenta: 416******</strong> </li>
            <li class="text-white"><strong>Correo eléctronico: smirnagallardotorres@gmail.com</strong> </li>
            <li class="text-white"><strong>Semestre: Octavo</strong> </li>
            <li class="text-white"><strong>Hobbie: Correr, jugar tennis, leer, ver series, peliculas y escuhar musica </strong> </li>
            <li class="text-white"><strong>Redes Sociales: Facebook</strong></li>
                <ul>
                    <li class="text-white url">Facebook:https://www.facebook.com/zmiirna.eztt </li>
                    <li class="text-white url">Twitter:... </li>
                </ul>
        </ul>
    </div>

</div>
