<link rel="stylesheet" href="/stylesheets/estilos.css">
<div class="bg">
    <div id="huno" class="text-left">
        <img src="https://www.facebook.com/photo.php?fbid=10218454099444373&set=a.1638624926092&type=3&theater">

    </div>
    <div id="huno" class="text-left">
        <ul>
            <li class="text-white"><strong>Nombre: Smirna Gallardo Torres</strong> </li>
            <li class="text-white"><strong>Numero de cuenta: 416******</strong> </li>
            <li class="text-white"><strong>Correo eléctronico:smirnagallardotorres@gmail.com</strong> </li>
            <li class="text-white"><strong>Semestre:Octavo</strong> </li>
            <li class="text-white"><strong>Hobbie:Correr,jugar tennis, leer, ver series, peliculas y escuhar musica </strong> </li>
            <li class="text-white"><strong>Redes Sociales:</strong></li>
                <ul>
                    <li class="text-white url">Facebook:https://www.facebook.com/zmiirna.eztt </li>
                    <li class="text-white url">Twitter:... </li>
                </ul>
        </ul>
    </div>

</div>
