<link rel="stylesheet" href="/stylesheets/style.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<div class="bg container-fluid">
    <div id="div-blanco" class="text-left">
        <h1 class="text-white"><small>TPS (Transaction Processing System)</small></h1>
        <p class="text-white">La traducción de sus siglas en ingles son Sistemas de procesamiento de transacciones. Es una clasificación de sistemas de información, que se dividen segun los intereses, nivel empresarial y espcecialidades de una organización.
             Su principal objetivo es llevar el registro de actividades y operaciones en una empresa evitando su perdida y/o corrupción ante fallos. Una transacción es un intercambio de información que es reflejada en un medio persistente y debe contar con las siguientes características:</p>
        <ul>
            <li class="text-white"><strong>Atomicidad:</strong> Se refiere a que la transacción debe ser completada en su totalidad o en su defecto debe realizarse una restauración del proceso a su estado original (antes de iniciar la transacción)</li>
            <li class="text-white"><strong>Consistencia: </strong> Se debe salvaguardar la integridad de la información cumpliendo reglas relacionales y de negocio. El sistema debe reconocer transacciones que vayan contra este principio y realizar una operacion roll-back(por ejemplo regresar productos al stock en caso de que no pase la tarjeta de credito al querer finalizar la compra)</li>
            <li class="text-white"><strong>Aislamiento:</strong> Cada transacción debe ser considerada independiente de otras transacciones, esto permite que el sistema realice transacciones recurrentes y simultáneas</li>
            <li class="text-white"><strong>Durabilidad(Persistencia):</strong> Las transacciones y sus operaciones internas deben ser almacenadas a un medio persistente, hasta el momento que otra operación o transacción cambie el estado de los datos. Todas las transacciones aisladas deben poder ser consultadas en cualquier momento.</li>
        </ul>
        <img src="https://1.bp.blogspot.com/-vuwdp0eoae4/XO4ZNqTZF6I/AAAAAAAAC3Q/05JGWae7wwIGyQnrxpIp3HdHX7PLTsQEACLcBGAs/s1600/tps.jpg" width="450" height="250">
    </div>

</div>