body,html {
  height: 100%
  
  
}

#huno{
  padding: 350px;
}
#huno2{
  padding-top: 400px;
}
#huno3
{
  padding: 200px;
}
#huno4{
  padding: 50px;
}
#iniciobutton{
  padding: 50px;
  padding-left: 10px;
}

.bg {
  /* The image used */
  background-image: url("https://images6.alphacoders.com/438/thumb-1920-438994.jpg");

  /* Full height */
  height: 100%;
  /* Full width */
  width: 100%;

  position: relative;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#iniciodef
{
  padding:20px;
}

#divblanco{
  color:white;
}

.caption div {
  box-shadow: 0 0 5px #C8C8C8;
  transition: all 0.3s ease 0s;
}
.img-circle {
  border-radius: 50%;
}
.img-circle {
  border-radius: 0;
}

.ratio {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 0;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}
.img-circle {
  border-radius: 50%;
}
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}
#burbuja1{
  padding:50px;
}
#lol
{
  padding-top: 250px;
}